* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* General use styling */
.greentext {
    color: #64A70B;
    font-weight: bold;
}

.hide {
    display: none;
}

.show {
    display: unset;
}

/* Header styling */
nav {
    display: flex;
    justify-content: space-between;
}

.time {
    padding: 10px;
    color: #0047BB;
    font-weight: bold;
}

header a {
    padding: 10px;
    color: #0047BB;
    font-weight: bold;
    text-decoration: none;
}

/* Quiz area styling */

main {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* Welcome message and game start styling */
.welcome-msg h1 {
    padding: 30px 0px 25px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0047BB;
    font-weight: bold;
    font-size: 40px;
}

.welcome-msg p {
    padding-bottom: 25px;
    padding-right: 20px;
}

.welcome-msg button {
    margin-bottom: 30px;
}

/* Questions and answers styling */
#answers {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

button {
    color: #0047BB;
    text-align: left;
    border-radius: 5px;
    border: 2px solid #1D252D;
    background-color: #F2F2F2;
}

.result-correct {
    color: #64A70B;
    font-style: italic;
}

.result-incorrect {
    color: red;
    font-style: italic;
}

/* Highscores styling */

table {
    margin: 20px;
    width: 500px;
}

td {
    text-align: center;
}

#playercol {
    color: #0047BB;
}

#scorecol {
    color: #64A70B;
}